/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body {
  width: 70%;
  margin: auto;
  border: 1px solid red;
  font-size: 16px;
  font-family: font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 480px) {
  body {
    width: 95%;
  }
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  body {
    width: 90%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1440px) {
  body {
    width: 85%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 80%;
  }
}

/* header */
/* empty */

/* main */
/* empty */

/* footer */
/* empty */
